<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.caleffi.dscti" version="1.0.0">

<name>Instrutores</name>

<preference name="splash-screen-duration" value="1300" />
<preference name="HideKeyboardFormAccessoryBar" value="true" />
<preference name="webviewbounce" value="false" />
<preference name="DisallowOverscroll" value="true" />
<preference name="orientation" value="portrait" />
<preference name="target-device" value="universal" />
<preference name="fullscreen" value="false" />
<preference name="detect-data-types" value="true" />
<preference name="BackgroundColor" value="#024b69" />
<preference name="exit-on-suspend" value="false" />
<preference name="auto-hide-splash-screen" value="true" />
<preference name="disable-cursor" value="false" />
<preference name="android-minSdkVersion" value="7" />
<preference name="android-installLocation" value="auto" />

<icon src="icons/android/mipmap-mdpi/ic_launcher.png" gap:platform="android" gap:density="mdpi" />
<icon src="icons/android/mipmap-hdpi/ic_launcher.png" gap:platform="android" gap:density="hdpi" />
<icon src="icons/android/mipmap-xhdpi/ic_launcher.png" gap:platform="android" gap:density="xhdpi" />
<icon src="icons/android/mipmap-xxhdpi/ic_launcher.png" gap:platform="android" gap:density="xxhdpi" />
<icon src="icons/android/mipmap-xxxhdpi/ic_launcher.png" gap:platform="android" gap:density="xxxhdpi" />

<gap:splash src="splash/android/drawable-xhdpi/xx.png" gap:platform="android" gap:density="xhdpi" />
<gap:splash src="splash/android/drawable-mdpi/xx.png" gap:platform="android" gap:density="mdpi" />
<gap:splash src="splash/android/drawable-hdpi/xx.png" gap:platform="android" gap:density="hdpi" />
<gap:splash src="splash/android/drawable-xxhdpi/xx.png" gap:platform="android" gap:density="xxhdpi" />
<gap:splash src="splash/android/drawable-xxxhdpi/xx.png" gap:platform="android" gap:density="xxxhdpi" />

<access origin="*" />
<access origin=".*" />
<access origin="https://grupolena.com.br"/>
<access origin="https://grupolena.com.br/*"/>

<plugins>
 
    <plugin name="Device" value="org.apache.cordova.Device"/>
 
    <plugin name="File" value="org.apache.cordova.FileUtils"/>
    <plugin name="NetworkStatus" value="org.apache.cordova.NetworkManager"/>
    
    <plugin name="Storage" value="org.apache.cordova.Storage"/>
 
    <plugin name="FileTransfer" value="org.apache.cordova.FileTransfer"/>
    
    <plugin name="SplashScreen" value="org.apache.cordova.SplashScreen"/>
</plugins>

</widget>

