<?xml version="1.0" encoding="UTF-8"?>

<widget xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" id="com.caleffi.dscti" version="1.1.0">

<name>Instrutores</name>
<preference name="keepRunning" value="true" />
<preference name="HideKeyboardFormAccessoryBar" value="true" />
<preference name="webviewbounce" value="true" />
<preference name="DisallowOverscroll" value="false" />
<preference name="orientation" value="portrait" />
<preference name="target-device" value="universal" />
<preference name="fullscreen" value="false" />
<preference name="BackgroundColor" value="#132e54" />
<preference name="exit-on-suspend" value="false" />
<preference name="auto-hide-splash-screen" value="true" />
<preference name="disable-cursor" value="false" />
<preference name="SplashScreen" value="none"/>
<preference name="phonegap-version" value="cli-9.0.0" />
<preference name="android-targetSdkVersion" value="28" />

<plugin name="cordova-plugin-insomnia" source="npm" />
<plugin name="cordova-plugin-autostart" source="npm"/>
<plugin name="cordova-plugin-whitelist"/>
<plugin name="cordova-plugin-inappbrowser" source="npm" spec="2.0.2"/>
<plugin name="cordova-plugin-facedetection-lite"/>

<feature name="Geolocation">
    <param name="android-package" value="org.apache.cordova.GeoBroker" />
</feature>

<plugin name="cordova-plugin-android-permissions" />
<plugin name="cordova-plugin-geolocation">
<variable name="GEOLOCATION_USAGE_DESCRIPTION" value="Esse aplicativo coleta dados de Geolocalização." />
</plugin>

<feature name="Insomnia">
  <param name="android-package" value="nl.xservices.plugins.Insomnia" />
</feature>

   <platform name="android">
        <uses-permission name="android.permission.ACCESS_COARSE_LOCATION" />
        <uses-permission name="android.permission.ACCESS_FINE_LOCATION" />
        <uses-permission name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    </platform>

<icon src="icons/mipmap-mdpi/launcher.png" gap:platform="android" gap:density="mdpi"/>
<icon src="icons/mipmap-hdpi/launcher.png" gap:platform="android" gap:density="hdpi" />
<icon src="icons/mipmap-xhdpi/launcher.png" gap:platform="android" gap:density="xhdpi" />
<icon src="icons/mipmap-xxhdpi/launcher.png" gap:platform="android" gap:density="xxhdpi" />
<icon src="icons/mipmap-xxxhdpi/launcher.png" gap:platform="android" gap:density="xxxhdpi" />

<access origin="*" />
    <allow-navigation href="*" />
    <allow-navigation href="http://*/*" />
    <allow-navigation href="https://*/*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />

</widget>
